.SmvArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  line-height: 1.5;
  top: 0px;
  left: 0px;
}
.SmvArea > .mainImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  visibility: hidden;
}
.SmvText {
  /* border: 1px solid red; */
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 3;
}
.SmainTitle {
  font-size: 140px;
  font-weight: 700;
  color: white;
}
.SmvSubText {
  font-size: 40px;
  text-indent: 8px; /* 안쪽으로 들여쓰기 하는 느낌인데 8px로 줘서 반응형 할 때 문제 생길수도*/
  margin-bottom: 1%;
  font-weight: 400;
  color: white;
  margin-bottom: 50px;
}
.SmDownload {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.SiconText {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 10px;
}
.SiconText > p {
  color: white;
}
.SdownloadBtnList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 10px;
}
.SdownloadBtn {
  font-size: 30px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
}
.SiconText > img {
  object-fit: contain;
}

.SmvImages {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* 히어로 바뀌는 내용 */
.SmvImages > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1s ease, transform 10s ease;
}
.SmvImages > img.active {
  opacity: 1;
  transform: scale(1.2);
}
