.mvArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  line-height: 1.5;
}
.mvText {
  position: absolute;
  top: 35%;
  left: 10%;
}
.mainTitle {
  font-size: 140px;
  font-weight: 700;
  color: white;
}
.mvSubText {
  font-size: 40px;
  text-indent: 8px;
  margin-bottom: 20px;
  font-weight: 400;
  color: white;
}
