.ko {
  position: fixed;
  width: 100%;
  height: 75px;
  opacity: 0.95;
  background: #fff;
  z-index: 11;
}
.ko > div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.ko > div > h1 {
  position: absolute;
  top: 30px;
  left: 30px;
}
.headerMenu {
  position: relative;
  text-align: center;
  line-height: 4.5;
  width: 520px;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: 700;
}
.headerMenu > li {
  display: inline-block;
  margin-right: 80px;
  line-height: 1.23;
  padding-bottom: 4px;
}
.langMenuTop {
  display: block;
  width: 55px;
  top: 26px;
  right: 30px;
  text-align: center;
  color: rgb(30, 30, 30);
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.currentLang {
  font-size: 14px;
}
.langMenu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
  margin: 0;
  width: 100px;
  right: 5px;
  top: 70px;
}

.langMenu.show {
  display: block;
}

.langMenu li {
  padding: 5px 10px;
  cursor: pointer;
}

.langMenu li:hover {
  background-color: #eee;
}
