/* 헤더 로고 */
.Sko {
  position: fixed !important;
  width: 100%;
  height: 75px;
  opacity: 0.95;
  background: #fff;
  z-index: 999999;
  top: 0;
  left: 0;
}

.Sko > div {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.Sko > div > h1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 43px;
  height: 16px;
}

.logoImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
}

/* 헤더 메뉴 */
.SheaderMenu {
  position: relative;
  text-align: center;
  line-height: 4.5;
  width: 520px;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: 700;
}

.SheaderMenu > li {
  display: inline-block;
  margin-right: 80px;
  line-height: 1.23;
  padding-bottom: 4px;
}

.ScurrentLine {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 93px;
  height: 4px;
  background-color: black;
  padding: 0;
  transition: all 0.3s ease;
}

/* 언어 선택 */
.SlangMenuTop {
  display: block;
  width: 55px;
  top: 26px;
  right: 30px;
  text-align: center;
  color: rgb(30, 30, 30);
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.ScurrentLang {
  font-size: 14px;
}

.SlangMenu {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
  margin: 0;
  width: 100px;
  right: 5px;
  top: 70px;
}

.SlangMenu.show {
  display: block;
}

.SlangMenu li {
  padding: 5px 10px;
  cursor: pointer;
}

.SlangMenu li:hover {
  background-color: #eee;
}

.Simage-warpper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 43px;
  height: 16px;
}

/* 다운로드 버튼*/
.SdownloadBtn:hover {
  background-color: #07b53b;
  cursor: pointer;
}

/*  */
.onlyPc {
  display: block;
}
@media screen and (max-width: 768px) {
  .onlyPc {
    display: none;
  }
  .Sko {
    position: fixed !important;
    width: 100%;
    height: 75px;
    opacity: 0.95;
    background: transparent;
    z-index: 9999;
  }
}
