<<<<<<< HEAD
body {
  overflow-x: hidden;
}
=======
>>>>>>> c875972aa93d11b277f99a3c8e53b6d911b41c27
.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
<<<<<<< HEAD
  position: fixed;
  z-index:9999;
}
.loadingGreenBox {
  width: 35%;
  height: 15%;
=======
}
.loadingGreenBox {
  width: 35%;
  height: 20%;
>>>>>>> c875972aa93d11b277f99a3c8e53b6d911b41c27
  background-color: #07b53b;
  position: absolute;
  top: 35%;
  left: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  z-index: 2;
}
.loadingWhiteBox{
  background-color: white;
    width: 35%;
  height: 15%;
    position: absolute;
  top: 35%;
  left: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
/* .loadingTransparentBox{
    background-image: url("img/hero1.jpg");
    width: 25%;
  height: 15%;
    position: absolute;
  top: 35%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:4;
=======
}
/* .loadingTransparentBox {
>>>>>>> c875972aa93d11b277f99a3c8e53b6d911b41c27
} */
.loadingGreenBoxText {
  font-size: 50px;
  font-weight: 500;
  color: white;
  margin-right: 5%;
<<<<<<< HEAD
}
=======
}
>>>>>>> c875972aa93d11b277f99a3c8e53b6d911b41c27
