@keyframes startHeader {
  0% {
    transform: translateY(-105%);
  }
  82% {
    transform: translateY(-105%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes startTexArea {
  0% {
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Sko {
  animation-name: startHeader;
  animation-duration: 3s;
}
.SmvText {
  animation-name: startTexArea;
  animation-duration: 2.5s;
}
