.Pservice__card {
  width: 270px;
  height: 340px;
  background-color: transparent;
  border-radius: 4px;
  background-color: white;

  padding: 30px;
  position: relative;
  box-shadow: 10px 10px 20px -20px black;
  overflow: hidden;
}

.Pservice__card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.Pservice__card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  position: relative;
}

.Pcard__textarea {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.Pcard__textarea-title {
  font-weight: bold;
  font-size: 25px;
  margin: 16px 0px;
  line-height: 30px;
}
.Pcard__textarea-sub {
  color: #616161;
  font-size: 14px;
}

.Pcard__textarea-more {
  font-size: 25px;
  color: #616161;
  opacity: 0.5;

  position: absolute;
  bottom: 20px;
  left: 30px;
}

.Pcard__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.Pcard__overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.Pcard__linkarea {
  gap: 20px;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Pcard__linkarea-button {
  width: 150px;
  padding: 16px;
  color: white;

  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.Pcard__linkarea-button i {
  font-size: 20px;
}

.Pcard__linkarea-button:hover {
  background-color: rgb(24, 206, 24);
}

.ri-download-line {
  display: none;
}

.Pcard__linkarea-button:hover > .icon {
  display: none;
}

.Pcard__linkarea-button:hover > .ri-download-line {
  display: block;
}
