body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;

  overflow-x: hidden;
}

#LmainService {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 1433px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 중간 점선 */
#LmainService .Lgrid {
  position: absolute;
  height: 100%;
  height: 1433px;
  top: 0;
  left: 50%;
  width: 1px;
  background-size: 1px 5px;
  background-repeat: repeat-y;
  background-image: linear-gradient(
    180deg,
    #b2b2b2,
    #b2b2b2 2px,
    transparent 0px,
    transparent 5px
  );
  z-index: -1;
}
/* 점선 위 동그라미 */
#LmainService .Lgrid::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(30, 30, 30, 0.3);

  box-sizing: border-box;
  background-color: #fff;
  left: -4px;
}

/* 그리드 중간 동그라미 */
#LmainService .Lgrid::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(30, 30, 30, 0.3);
  background-color: #fff;
  left: -4px;
  top: 50%;
}

/* 마지막 동그라미 */
#LmainService .Lgrid .Ldot.bottom {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #b2b2b2;
  background-color: #fff;
  box-sizing: border-box;
  left: -10px;
  bottom: -30px;

  color: #b2b2b2;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 링크 아이콘 이미지 */
.LlinkIcon img {
  display: flex;
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  border-radius: 16px;
}
/* 텍스트 아레아, 이미지 아레아 전체 */
.Lservice_Cnt {
  width: 100%;
  height: 679px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 85px 0px;
}

.Lservice {
  display: flex;
  align-items: center;
  width: 100%;
  height: 509px;
}

/* 텍스트 */
.Ltext_box {
  width: 100%;
  height: 100%;
}

.Ltext_area {
  line-height: 1.7;
  padding: 0px 0px 0px 40px;
  z-index: 1;
}

h3 {
  font-size: 40px;
  color: #1e1e1e;
  margin: 0 0 20px;
  font-weight: 700;
}

span {
  font-size: 18px;
  color: #07b53b;
  margin: 0 0 20px;
  font-weight: 500;
}

.Ldesc {
  width: 480px;
  font-size: 18px;
  color: #777777;
  margin: 0 0 60px;
}

/* 이미지 */
.Limage_area {
  width: 100%;
  height: 100%;
}

.Limage_area .Lfirst_img {
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.Limage_area .Lsecond_img {
  display: flex;
  top: 0;
  right: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.Lmusic {
  line-height: 1.7;
  padding: 0px 40px 0px 0px;
  z-index: 1;
}

.Lmusic {
  position: relative;
  height: 400px;
}

/* 링크 트리 */
.Llink_tree {
  display: flex;
}

.Llink_tree .Lapple,
.Lgoogle {
  display: flex;
  width: 60px;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin: 0px 4px 0px 0px;
}

.Llink_tree .Lapple:hover {
  border: 4px solid #07b53b;
  background-color: #07b53b;

  color: #fff;
}

.Llink_tree .Lgoogle:hover {
  border: 4px solid #07b53b;
  background-color: #07b53b;

  color: #fff;
}

.Llink_tree i {
  font-size: 25px;
}

.Lsite_link {
  display: flex;
  width: 145px;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-size: 14px;
}

.Lsite_link i {
  font-size: 25px;
  font-weight: 50;
}

.Lsite_link:hover {
  border: 4px solid #07b53b;
  background-color: #07b53b;

  color: #fff;
}

/* 마지막 동그라미 */
/* .Lmusic .Lgrid {
  height: 100%;
  top: 0px;
  left: 50%;
  width: 1px;
  background-size: 1px 5px;
  background-repeat: repeat-y;
  background-image: linear-gradient(
    180deg,
    #b2b2b2,
    #b2b2b2 2px,
    transparent 0px,
    transparent 5px
  );
} */

/* 점선 위 동그라미 */
.Lmusic .Lgrid::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(30, 30, 30, 0.3);

  box-sizing: border-box;
  background-color: #fff;
  left: -4px;
}

@media (max-width: 878px) {
  body {
    width: 100%;
    height: 100%;
  }

  /* 왼쪽 점선 */
  #LmainService .Lgrid {
    height: 100%;
    left: 9%;
    top: 2px;
  }
  /* 동그라미 없음 */
  #LmainService .Lgrid::before,
  .Lgrid::after {
    display: none;
  }

  #LmainService .Lgrid .Ldot.bottom {
    display: none;
  }

  /* 링크 아이콘 이미지 */
  .LlinkIcon img {
    position: relative;
    width: 36px;
    height: 36px;
    left: -23px;

    border-radius: 7px;
  }

  /* 텍스트 아레아, 이미지 아레아 전체 */

  .Lservice_Cnt {
    width: 100%;
    height: 679px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: none;
  }

  .Lservice {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 509px;
    position: relative;
    top: -100px;
  }

  .Ltext_area {
    line-height: 1.7;
    padding: 30px 0px 0px 0px;
    z-index: 1;
    order: 2;
  }

  h3 {
    font-size: 22px;
    color: #1e1e1e;
    margin: 0 0 15px;
    font-weight: 700;
  }

  span {
    font-size: 14px;
    color: #07b53b;
    margin: 0 0 12px;
    font-weight: 500;
  }

  .Ldesc {
    width: 374px;
    font-size: 14px;
    color: #777777;
    margin: 0 0 28px;
  }

  .Ltext_box {
    position: relative;
    left: 7%;
    top: -13%;
  }

  /* link 사이즈 */
  .Lsite_link {
    display: flex;
    width: 113px;
    height: 46px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    font-size: 13px;
  }

  .Llink_tree .Lapple,
  .Lgoogle {
    display: none;
  }

  /* 이미지 */
  .Limage_area {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .Limage_area .Lfirst_img {
    display: block;
    margin: 0 auto;
    width: 419px;
    height: 312px;
    top: 0;
    left: 0;
    content: url("image/firstimghp.png");
    object-fit: cover;
    /* position: relative;
    top: -70px; */
  }

  .Limage_area .Lsecond_img {
    display: block;
    margin: 0 auto;
    width: 419px;
    height: 312px;
    top: 0;
    left: 0;
    content: url("image/secondimghp.png");
    object-fit: cover;
  }

  .Lsite_link:hover {
    color: #1e1e1e;
    background-color: #eee;
    border: none;
  }
}
